.faqBox {
    margin: 50px 40vh 50px 40vh;
    padding: 30px;
    background-color: #181818;
    border-radius: 12px;
}

.faqHeading{
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.faqItem {
    margin-bottom: 20px;
    font-family: sans-serif;
    color: whitesmoke;
    cursor: pointer;
}

.answer {
    margin-top: 5px;
    padding: 10px;
    color: #181818;
    background-color: #ffffff;
    border-left: 4px solid #4a90e2;
    border-radius: 4px;
}