.faqBox {
  margin: 50px auto;
  padding: 30px;
  background-color: #181818;
  border-radius: 12px;
  width: 80%;
  max-width: 700px;
}

.faqHeading {
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.faqItem {
  margin-bottom: 20px;
  font-family: sans-serif;
  color: whitesmoke;
  cursor: pointer;
}

.answer {
  margin-top: 5px;
  padding: 10px;
  color: #181818;
  background-color: #ffffff;
  border-left: 4px solid #4a90e2;
  border-radius: 4px;
}


/* Responsive for phones */

@media(max-width: 768px) {

  .faqBox {
    background-color: #181818;
    height: 30vh;
    width: 50vh;
    margin: 20px 35px 0px 80px;
    font-size: 15px;
    padding: 10px;
    border-radius: 12px;
  }

  .faqHeading {
    font-size: 18px;
  }

  .faqItem {
    font-size: 14px;
  }

  .answer {
    font-size: 14px;
  }
}