.mainScreen{
height: 70vh;
/* background-color: blue; */
}


.formInputs{
    /* background-color: green; */
    height: 60vh;
    color: aliceblue;
    display: flex;
    column-gap: 40px;
}
.submitButton{
    
    margin-left: 105vh;
    margin-top: 20px;
    
}

button{
    border: none;
    height: 35px;
    width: 100px;
    margin: 70px 120px 0px 127px;
    border-radius: 20px;
    font-weight: bolder;
}
button:hover{
    background-color: #181818;
    color: aliceblue;
    transition: 0.7s;
    transform: scale(1.1);
}