.result {
  height: auto;
  /* background-color: red; */
  margin: 10px;
}
.resultSection {
  height: 80px;
  margin: 20px auto;
  background-color: #181818;
  padding: 5px;
  border-radius: 12px;
  max-width: 600px;
}
.alimonyHeading{
  font-family: system-ui;
  padding: 24px 0;
  text-align: center;
  color: aliceblue;
}


/* Responsive for phones */

@media(max-width: 768px){

  .resultSection{
    margin: auto 10vh;
    width: 90%;
    height: 50px;
  }

  .alimonyHeading{
    padding: 12px 60px 12px 0px;;
    font-size: 16px;
    
  }
}