*{ 
    margin: 0;
}
:root{
    background-color: black;
    /* overflow: hidden; */
    height: 165vh;
}

img icon {
    border-radius: 20px;
}

/* Responsive for phones */

@media(max-width: 768px) {
    :root{
        overflow-x: hidden;
    }
}